body {
 margin: 0;
 padding: 0;
}

#navbar-section {
 margin: 0 10px 0 10px;
}

#dashboard {
 width: 100%;
 padding: 20px 0 0 0;
 margin: auto;
 text-align: center;
}

#pillNav2 {
 max-width: 500px;
 margin: auto;
}

li {
 margin: 0;
 padding: 0;
}

#viewtype {
 padding-top: 20px;
 padding-bottom: 20px;
 text-align: center;
}

#content {
 padding-top: 20px;
 padding-bottom: 20px;
 margin: auto;
 max-width: 600px;
}

@media only screen and (max-width: 700px) {
 #content {
  max-width: 550px;
 }
}

@media only screen and (max-width: 600px) {
 #content {
  max-width: 450px;
 }
}

@media only screen and (max-width: 500px) {
 #content {
  max-width: 350px;
 }
}

@media only screen and (max-width: 400px) {
 #content {
  max-width: 250px;
 }
}

@media only screen and (max-width: 300px) {
 #content {
  max-width: 250px;
 }
}

.col {
 margin: 5px;
 font-size: 18px;
}

.select-button {
 border: none;
 background-color: transparent;
 width: 100%;
}

.progress-data:hover {
 color: #0d6efd;
 cursor: default;
 transition: 0.2s;
}
