body {
 margin: 0;
 padding: 0;
}

#navbar {
 margin: 0 10px 0 10px;
}

#dashboard {
 background-color: purple;
 height: 100px;
 width: 100%;
}

#pillNav2 {
 max-width: 500px;
 margin: auto;
}

#footer {
 background-color: blue;
 height: 100px;
}

li {
 margin: 0;
 padding: 0;
}

#viewtype {
 padding-top: 20px;
 padding-bottom: 20px;
 text-align: center;
}

#content {
 padding-top: 20px;
 padding-bottom: 20px;
 margin-left: 80px;
 margin-right: 80px;
}

.col {
 margin: 5px;
 font-size: 18px;
}

.select-button {
 border: none;
 background-color: transparent;
 width: 100%;
}
